.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-video-1 {
  width: 1169px;
  height: 664px;
  margin: 21px -29px 55px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 534px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 193px;
  }
}